.inventoryItem--container {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.inventoryItem--card {
    /* max-width: 600px; */
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.inventoryItem--card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.btn--group {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
