# Ignore all files by default
*

# Include what we want
!src
!package.json
!package-lock.json
!.firebase_config
!.eslintignore
!.eslintrc.js
!.prettierignore
!.prettierrc
!.puppeteerrc.cjs
!dotenv-config.js
!jest.config.js
!next.config.js
!postcss.config.js
!tailwind.config.js
!tsconfig.json
!webpack.config.js
