//Change to rules must be replicated in the Firestore console unless you deploy them

rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
      // Administrator role


      // Allow admin to read events (errors)
      match /Events/{document=**} {
        allow read: if request.auth != null && request.auth.token.admin == true;
      }

      // Admin can create, edit or delete any donation
      match /Donations/{document=**} {
        allow read, write: if request.auth != null && request.auth.token.admin == true;
      }

      // Admin can create, edit or delete bulk donation collections   
      match /BulkDonations/{document=**} {
        allow read, write: if request.auth != null && request.auth.token.admin == true;
      }

      // Admin can create, edit or delete users   
      match /Users/{document=**} {
        allow read, write: if request.auth != null && request.auth.token.admin == true;
      }

      // Admin can create, edit or delete organizations   
      match /Organizations/{document=**} {
        allow read, write: if request.auth != null && request.auth.token.admin == true;
      }

      // Admin can create, edit or delete orders   
      match /Orders/{document=**} {
        allow read, write: if request.auth != null && request.auth.token.admin == true;
      }


      // Aid worker role

      // aid worker can only view inventory (donation status = 'available')
      match /Donations/{document=**} {
        allow read: if request.auth != null && request.auth.token['aid-worker'] == true && resource.data.status == 'available';
      } 

      // aid worker can only update 'requestor', 'modifiedAt', 'status' fields of avilable donations
      match /Donations/{document=**} {
        allow update: if request.auth != null && request.auth.token['aid-worker'] == true && resource.data.status == 'available' && (resource.data.diff(resource.data).affectedKeys().hasOnly(['requestor', 'modifiedAt', 'status']))
      }

     //aid worker can create & update new orders (requested items)
      match /Orders/{document=**} {
        allow create, update: if request.auth != null && request.auth.token['aid-worker'] == true 
      }
     
      // Standard user role

      //standard (anonymous) users can create donations/bulk donation collections
      match /Donations/{document=**} {
        allow create: if request.auth != null;
      } 
      match /BulkDonations/{document=**} {
        allow create: if request.auth != null 
      }

      //standard (anonymous) users can only view donations/collection they've submitted. 
      match /Donations/{document=**} {
        allow read: if request.auth != null && request.auth.uid == resource.data.donorId;
      }  
      
      match /BulkDonations/{document=**} {
        allow read: if request.auth != null && request.auth.uid == resource.data.donorId;
      }        
  }
}