.about__heading, .about__paragraph{
    display: inline-block;
    margin: .7rem 0;
}

.about__paragraph {
    margin: 0px 1rem;;
}

.about__paragraph--list-label {
    margin: 1rem 0 .5rem 0;
}

.about__list {
    margin: 0;
}