.contact-details__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 1rem auto;
}

.contact-details__container > p {
    font-family: var(--font-garamond);
}

.contact-details__container .contact__heading {
    margin-top: 0;
    font-size: 0.9rem;
}
.contact-details__container .contact__paragraph {
    font-size: 0.9rem;
    font-weight: 500;
    width: 60%;
    text-align: left;
    margin: 0px;
    overflow: hidden;
}

.contact-details__container .contact__paragraph--email {
    font-size: 0.75rem;
}

.contact__paragraph a {
    text-decoration: underline;
    cursor: pointer;
}

/* Tablets */
@media screen and (min-width: 480px) {
    .contact-details__container .contact__paragraph,
    .contact-details__container .contact__heading {
        font-size: 0.95rem;
    }
}

/* Laptops and above */
@media screen and (min-width: 800px) {
    .contact-details__container .contact__paragraph,
    .contact-details__container .contact__heading {
        font-size: 1.2rem;
    }
}
