.browse__header {
display: flex;
justify-content: space-between;
padding: 1rem .25rem;
}

.header__icons {
    padding: 3px;
}

.header__icons > div {
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
}

.browse__grid{ 
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}