.footer-wrapper{
    font-family: var(--primary-font);
    background-color: var(--bg-grey);
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }
    