.header--primary {
    font-family: var(--primary-font);
    background-color: var(--bg-grey);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
}

.header__logo {
    width: max-content;
    display: flex;
    align-items: center;
    height: 1.5rem;
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0;
    font-size: 1rem;
}
.header__logo > * {
    margin: 0 5px;
}

.header__spacer {
    width: 100%;
    height: 2.1rem;
}
.menu__link {
    font-family: var(--primary-font);
    color: white;
    padding: 0.5rem 0;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
}
