.header__wrapper {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 10;
}

.header__primary {
    font-family: var(--primary-font);
    background-color: var(--bg-grey);
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: max-content;
    display: flex;
    align-items: center;
    height: 1.5rem;
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0;
    font-size: 1rem;
}

.header__logo > * {
    margin: 0 5px;
}

.menu__link {
    font-family: var(--primary-font);
    color: white;
    padding: 0.5rem 0;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
}
