.input__container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
}

.input__container input {
    padding: .25rem .5rem;
} 

.input__container label {
    padding: .25rem 0;
}

.footnote {
    margin: 0;
    font-size: .8rem;
}

/* Tablets */
@media screen and (min-width: 480px) {
    
    .input__container {
        max-width: 50%;
    }
    
}

/* Laptops and above */
@media screen and (min-width: 800px) {
    
    .input__container {
        max-width: 350px;
    }
    
}


