.search__container {
    animation: display 2s ease 1 forwards;
}
@keyframes display {
    0%{max-height: 0px; opacity: 0;}
    100%{max-height: 750px; opacity: 1;}
}
.search-bar{
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0;
    margin: .25rem auto 1rem auto;
    opacity: 1;
}


.search-bar__label {
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.search-bar__input{
    border-radius: 5px;
    padding: 5px;
    flex-grow: 1;
    border: none;
}

.search-bar__button{
    border: none;
    padding: .45rem;
    border-radius: 0px 5px 5px 0px;
    border-left: 2px solid #777;
    background-color: white;
}
