.account__container {
    justify-content: center;
}

.account__header {
    display: flex;
    width: 60vh;
}

/* Tablets */
@media screen and (min-width: 480px) {
    .form {
        display: grid;
        grid-auto-rows: auto;
        gap: 2em;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            'left left right right'
            'left left right right'
            'left left right right'
            'left left right right'
            'bottom bottom bottom button-bottom';
    }

    .form__section--left {
        grid-area: left;
        padding: 5px;
    }
    .form__section--right {
        grid-area: right;
    }
    .form__section--button-bottom {
        grid-area: button-bottom;
    }
}

/* Laptops and above */
@media screen and (min-width: 800px) {
}
